<!DOCTYPE html>
<html>
<head>
   <title>Workout Journal</title>

    <style>
        a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }
        
        a:hover, a:active {
        background-color: red;
        }
    </style>

</head>
<body>
    {% if weight is not none %}
    <p>Added {{ weight }}kg to database</p>
    {% endif %}
    <h1>Add Weight</h1>

    <!-- Start of the form element -->
    <form action = "add-weight" method = "get">
        <!-- various form controls -->
        <label for="weight">Current Weight:</label>
        <input type = "text" name = "weight" autofocus required/>
        <br><br>
        <input type = "submit", name="Submit">
     </form>

     <br><br>
     
    <a href="/" target="_self">Home Page</a>

</body>
</html>